    <launch>


    <node pkg="tasks_utils" type="convert_gt.py" name="convert_gt" />

    <node pkg="tasks_utils" type="check_odom_error.py" name="check_odom_error" >
        <param name="odom_topic" value="/odom" />
    </node>

    <param name="use_sim_time" type="bool" value="true"/>

    <param name="image_transport" type="string" value="compressed"/>

    <arg name="odom_topics" value="[/odom,/ground_truth_local]" />
    <arg name="colours" value="[green,black]" />

    <node name="plot_gt_odom" pkg="tasks_utils" type="plot_path.py" output="screen">
        <rosparam param="odom_topics" subst_value="True"> $(arg odom_topics) </rosparam> 
        <rosparam param="colours" subst_value="True"> $(arg colours) </rosparam> 
        <param name="saving_path" value="$(find tasks_utils)/figures/odom.png" />
    </node>


   </launch>