<launch>

Per vedere le webcam collegate al pc e il relativo device:
    sudo apt-get install v4l-utils
    v4l2-ctl --list-devices

<group ns="camera">
<node name="camera_setup" pkg="tasks_utils" type="camera_setup.py" output="screen" args=" $(arg device)" >
    <param name="flip" value="true" />
    <param name="width" value="1920" />
    <param name="height" value="1080" />
    <param name="fps" value="30" />
    <param name="camera_info_path" value="$(find tasks_utils)/params/camera_params_1080.yaml" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="camera_name" value="usb_cam" />

</node>
<!-- <node name="camera_setup" pkg="tasks_utils" type="camera_setup.py" output="screen" >
    <param name="device " value="0" />
    <param name="width" value="640" />
    <param name="height" value="480" />
    <param name="fps" value="30" />
    <param name="camera_info_path" value="$(find tasks_utils)/params/camera_params_480.yaml" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="camera_name" value="usb_cam" />

</node> -->

</group>

<node  name="usb_cam_tf" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 base_link usb_cam 10" />

</launch>
