<launch>
  <include file="$(find realsense2_camera)/launch/rs_rgbd.launch"> 
   <arg name="json_file_path" value="$(find tasks_utils)/params/realsenseHighAccuracy.json" />
   <arg name="align_depth" value="true" />
    <arg name="enable_pointcloud" value="true" />
   </include>
   <!-- <rosparam>
      /camera/stereo_module/visual_preset: 3
  </rosparam> -->
</launch>